<!DOCTYPE html>
<html lang="ru">

<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="body" data-body>
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main">
    <%= htmlWebpackPlugin.options.breadcrumbs %>
    <section class="section mb-100 mbm-40">
        <div class="container">
            <div class="lk">
                <div class="title mb-30 mbm-20 title--lk">Бонусная программа</div>
                <div class="lk__wrapper">
                    <div class="lk-sidebar">
                        <nav class="lk-nav">
                            <a href="#" class="lk-nav__item">
                                <svg class="lk-icon">
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-basket"></use>
                                </svg>
                                Корзина
                            </a>
                            <a href="#" class="lk-nav__item">
                                <svg class="lk-icon">
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-layout"></use>
                                </svg>
                                Мои проекты
                            </a>
                            <a href="#" class="lk-nav__item">
                                <svg class="lk-icon">
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-orders"></use>
                                </svg>
                                Мои заказы
                            </a>
                            <a href="#" class="lk-nav__item">
                                <svg class="lk-icon">
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-user"></use>
                                </svg>
                                Личные данные
                            </a>
                            <a href="#" class="lk-nav__item lk-nav__item--active">
                                <svg class="lk-icon">
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-discount"></use>
                                </svg>
                                Бонусная программа
                            </a>
                        </nav>
                    </div>
                    <div class="lk-content">
                        <h3 class="lk-title mb-30 mbm-20">Подробные условия и правила бонусной программы</h3>
                        <div class="lk-content__text text">
                            <p>Настоящие Правила определяют условия участия Участников Программы в Программе
                                лояльности, проводимой Организатором Программы на территории Российской Федерации.</p>
                            <p>Программа лояльности (Программа) – взаимоотношения, в которых Участник, совершающий
                                покупку у Организатора с помощью Бонусной карты, приобретает право на получение Баллов в
                                соответствии с настоящими Правилами.</p>
                            <p>Организатор Программы (Организатор) – ООО «САЙКЛО».</p>
                            <p>Участник Программы (Участник) - физическое лицо, достигшее 18 лет, допущенное
                                Организатором Программы к участию в соответствии с настоящими Правилами и являющееся
                                держателем Бонусной карты. Участник самостоятельно управляет своим Бонусным счетом
                                (накапливает и тратит баллы на заказы) в соответствии с Правилами программы.</p>
                            <p>Бонусная карта (Карта) - виртуальная карта, обладающая уникальным номером, который
                                используется для идентификации Участника в Программе. Карта обслуживается в режиме «на
                                предъявителя». При совершении покупки на Территории действия Программы с использованием
                                Карты Участнику не требуется предъявлять документ, удостоверяющий личность (за
                                исключением случаев использования карты для получения скидки ко Дню рождению
                                Участника).</p>
                            <p>Анкета Участника (Анкета) – регистрационная форма, содержащая персональные данные
                                Участника и согласие на их обработку. Заверенная Участником Анкета является основанием
                                для регистрации физического лица в Программе и активации Карты. Предоставляя Анкету с
                                персональными данными, Участник выражает своё полное согласие на обработку своих
                                персональных данных, содержащихся в Анкете, (в рамках Федерального закона №152 от
                                27.07.06 ФЗ «О персональных данных"</p>
                            <p>Баллы – расчетные бонусные единицы, зачисляемые на Бонусный счет Участника в
                                соответствии с Правилами Программы. Баллы, начисленные на бонусный счет Участника, не
                                имеют наличного выражения и не предоставляют Участнику право на получение их в денежном
                                эквиваленте. Срок действия Баллов, начисленных за заказ на Бонусный счет Участника – 1
                                год с даты их последнего начисления.</p>
                            <p>Акционные баллы – баллы, которые Участник может получить при выполнении определенных
                                действий или без них. Акционным баллам устанавливается любой срок действия по усмотрению
                                Организатора. Правила действия Акционных баллов устанавливаются по усмотрению
                                Организатора.</p>
                            <p>Бонусный счет – счет Карты Участника, на котором проводятся операции с Баллами.</p>
                            <p>База данных - электронная база данных, содержащая данные о зарегистрированных Участниках
                                Программы.</p>
                            <p>Территория проведения Программы - Программа действует во всех кафе-ресторанах сети
                                «САЙКЛО» в Российской Федерации.</p>
                            <p>Условия Участия («Правила Программы») — условия участия в Программе, изложенные в
                                настоящих Правилах, и доступные для ознакомления на сайте cafecyclo.ru</p>
                            <ol>
                                <li>
                                    Участие в Программе и активация Карты
                                    <ol>
                                        <li>Стать Участником Программы может любое физическое лицо, достигшее 18 лет.
                                        </li>
                                        <li>Получить Карту Участника возможно бесплатно в момент заказа на кассе в
                                            кафе-ресторанах, участвующих в Программе.
                                        </li>
                                        <li>Для участия в Программе Участнику необходимо зарегистрироваться через
                                            заполнение
                                            Анкеты на кассе. При этом Участник дает устное согласие на обработку своих
                                            персональных
                                            данных и получение информационных уведомлений, которое записывается на
                                            электронный
                                            носитель и хранится в Базе данных Организатора.
                                        </li>
                                        <li>Карта Участника активируется в момент совершения покупки.</li>
                                        <li>Участие в Программе является добровольным. К участию в Программе не
                                            допускаются
                                            юридические лица и их представители.
                                        </li>
                                        <li>Карта Участника действует в течение срока действия Программы или до любой
                                            другой
                                            даты прекращения действия Карты, установленной Организатором Программы.
                                            Уведомления об
                                            изменении или окончания срока действия Карт будет размещено на сайте
                                            Организатора
                                            cafecyclo.ru
                                        </li>
                                        <li>Баллы действуют в течение 1 года, начиная с даты последнего заказа, а затем
                                            аннулируются.
                                        </li>
                                    </ol>
                                </li>
                                <li>
                                    Начисление баллов
                                    <ol>
                                        <li>
                                            С 01.02.18 г. за совершение покупок на Территории проведения Программы на
                                            Бонусный
                                            счет Участника начисляются баллы в размере:
                                            <ul>
                                                <li>1% от стоимости заказа, не превышающего 1000 рублей.</li>
                                                <li>3% от стоимости заказа от 1000,1 рублей до 5000 рублей</li>
                                                <li>5% от стоимости заказа свыше 5000,1 рублей</li>
                                            </ul>
                                        </li>
                                        <li>
                                            Баллы за заказ начисляются:
                                            <ul>
                                                <li>при оплате заказа наличными, банковской картой или подарочным
                                                    сертификатом Программы с
                                                    предъявлением Карты Участника Программы или номера мобильного
                                                    телефона Участника. В
                                                    данном случае Участнику необходимо на кассе в момент заказа сообщить
                                                    номер мобильного
                                                    телефона, Фамилию, Имя и Отчество. В случае если персональные данные
                                                    Участника полностью
                                                    или частично отсутствуют в Базе данных или не соответствуют
                                                    указанным в Базе данных,
                                                    покупка совершается без начисления Баллов.
                                                </li>
                                                <li>за заказы, совершенные в кафе-ресторанах сети, Баллы начисляются в
                                                    момент заказа при
                                                    предъявлении Карты;
                                                </li>
                                                <li>за заказы на доставку бонусные баллы не начисляются</li>
                                                <li>функция максимальной скидки (с Бонусной Карты списывается
                                                    максимальное количество
                                                    Баллов, допустимое при данном заказе) при условии, что эта сумма
                                                    баллов не превышает 50%
                                                    от суммы заказа.В Анкете Участника в Базе данных присутствует данные
                                                    об Участнике:
                                                    Фамилия, Имя, Отчество, полная дата рождения или номер мобильного
                                                    телефона.
                                                </li>
                                            </ul>
                                        </li>
                                        <li>Баллы начисляются за все заказы за исключением заказов, совершенных в
                                            «Счастливые
                                            часы» с воскресенья по четверг с 21:00-22:00 и в пятницу, субботу с
                                            22:00-23:00. А также
                                            заказов сделанных на доставку.
                                        </li>
                                    </ol>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
</body>
</html>